.custom-tooltip {
  box-shadow: none;
  border: none;
  font-size: 1.2rem;
  text-align: center;
}

.custom-tooltip-makerspace {
  background-color: #000080;
  color: white
}

.custom-tooltip-tournament {
  background-color: #6D3228;
  color: white;
}


.custom-tooltip::before {
  display: none;
}

/* Make leaflet components use the website's font. Also make map appear lower */
.leaflet-container {
  font-family: inherit;
  z-index: 0;
}
